<form class="form-horizontal" name="publishAddForm" ng-controller="AddsController">
    <fieldset class="col-lg-6">
        <legend>Publish New Ad</legend>

        <div class="form-group">
            <label for="addTitle" class="col-lg-2 control-label">Title</label>
            <div class="col-lg-10">
                <input type="text" ng-required="true" class="form-control form-validation" id="addTitle" placeholder="Title" ng-model="add.title">
            </div>
        </div>

        <div class="form-group">
            <label for="addText" class="col-lg-2 control-label">Text</label>
            <div class="col-lg-10">
                <textarea ng-required="true" class="form-control form-validation" id="addText" placeholder="Text" ng-model="add.text" rows="6"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="addImage" class="col-lg-2 control-label">Image</label>
            <div class="col-lg-10">
                <input type="file" ng-file-select="" ng-model="add.imageDataURL" name="file" accept="image/*" onchange="angular.element(this).scope().changePic(this.files)">
            </div>
        </div>

        <div class="form-group" ng-controller="FilterController">
            <label for="addCategory" class="col-lg-2 control-label">Category</label>
            <div class="col-lg-10">
                <select class="form-control" id="addCategory" ng-model="add.categoryId" ng-options="category.id as category.name for category in allCategoriesData" ng-file-change="reloadAdds(true)">
                    <option value="">-- choose category --</option>
                </select>
            </div>
            <label for="addTown" class="col-lg-2 control-label">Town</label>
            <div class="col-lg-10">
                <select class="form-control" id="addTown" ng-model="add.townId" ng-options="town.id as town.name for town in allTownsData">
                    <option value="">-- choose town --</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a class="btn btn-danger" href="#/user/home">Cancel</a>
                <button type="submit" class="btn btn-success" ng-click="publish(publishAddForm)">Publish</button>
            </div>
        </div>
    </fieldset>
</form>
<div class="col-md-4">
    <div class="img-container">
        <img id="imagePreview" alt="Image preview" class="add-img" />
    </div>
</div>
