<div class="add-container">
    <div class="row">
        <div class="col-md-7">
            <h4 class="pull-left">
                {{ad.title | limitTo: 60 }}
            </h4>
        </div>
        <div class="col-md-5">
            <span class="pull-right">
                {{ad.date | date: 'd-MMM-yyyy'}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="img-container">
                <img src="" ng-src="{{ad.imageDataUrl ? ad.imageDataUrl : 'img/No_image_available.svg'}}" class="add-img" />
            </div>
        </div>
        <div class="col-md-7">
            <div class="add-text">{{ad.text}}</div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td class="add-table-info">Category:</td>
                        <td class="add-table-info">{{ad.categoryName | limitTo: 40 }}</td>
                    </tr>
                    <tr>
                        <td class="add-table-info">Town:</td>
                        <td class="add-table-info">{{ad.townName | limitTo: 40 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <label for="status" class="col-lg-10 control-label">Status</label>
            <div id="status">{{ad.status}}</div>
            <br />
            <div ng-if="ad.status === 'Published' || ad.status === 'WaitingApproval'">
                <button type="submit" class="btn btn-danger user-ads-button" ng-click="deactivateUserAdd(ad.id)">Deactivate</button>
            </div>
            <div ng-if="ad.status === 'Inactive'">
                <button type="submit" class="btn btn-primary user-ads-button" ng-click="editUserAdd(ad.id)">Edit</button>
                <button type="submit" class="btn btn-success user-ads-button" ng-click="publishAgainUserAdd(ad.id)">Publish Again</button>
                <button type="submit" class="btn btn-danger user-ads-button" ng-click="deleteUserAdd(ad.id)">Delete</button>
            </div>
            </div>
        </div>
    </div>