ul {
    list-style: none;
}

.add-img {
    width: 100%;
}

.img-container {
    border-style: solid;
    border-color: #2B3E50;
    width: 100%;
}

.add-container {
    border-style: solid;
    border-color: #2B3E50;
    margin: 10px;
    padding: 8px;
}

.add-text {
    width: inherit;
    font-size: 1em !important;
    word-wrap: break-word !important;
}

.user-ads-button {
    margin-bottom: 10px !important;
}

.add-table-info {
    text-align:left !important;
    padding:5px !important;
}
