<form class="form-horizontal" name="loginForm" ng-controller="UsersController">
    <fieldset class="col-lg-6">
        <legend>Login</legend>
        <div class="form-group">
            <label for="inputUsername" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
                <input type="text" ng-required="true" class="form-control form-validation" id="inputUsername" placeholder="Username" ng-model="loginUser.username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" ng-required="true" class="form-control form-validation" id="inputPassword" placeholder="Password" ng-model="loginUser.password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary" ng-click="login(loginUser, loginForm)">Login</button>
            </div>
        </div>
    </fieldset>
</form>

<button class="btn btn-default" onclick="location='#/'">Cancel</button>