    <ul>
        <li ng-repeat="ad in allAddsData.ads">
            <div ng-include="template.add">
            </div>
        </li>
    </ul>

    <ul class="pagination">
        <li><a href="#" ng-click="borderPages(1)">|<<</a></li>
        <li><a href="#" ng-click="goToPage(-1)"><<</a></li>
        <li><a href="#" ng-click="goToPage(-2)">{{currentPage - 2 < 1 ? '':currentPage - 2 }}</a></li>
        <li><a href="#" ng-click="goToPage(-1)">{{currentPage - 1 < 1 ? '':currentPage - 1 }}</a></li>
        <li class="active"><a href="#">{{currentPage}}</a></li>
        <li><a href="#" ng-click="goToPage(1)">{{currentPage + 1 > numPages ? '':currentPage + 1 }}</a></li>
        <li><a href="#" ng-click="goToPage(2)">{{currentPage + 2 > numPages ? '':currentPage + 2 }}</a></li>
        <li><a href="#" ng-click="goToPage(1)">>></a></li>
        <li><a href="#" ng-click="borderPages(numPages)">>>|</a></li>
    </ul>