<div class="add-container">
    <div class="row">
        <div class="col-md-7">
            <h4 class="pull-left">
                {{ad.title}}
            </h4>
        </div>
        <div class="col-md-5">
            <span class="pull-right">
                {{ad.date | date: 'd-MMM-yyyy'}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="img-container">
                <img src="" ng-src="{{ad.imageDataUrl ? ad.imageDataUrl : 'img/No_image_available.svg'}}" class="add-img" />
            </div>
        </div>
        <div class="col-md-7">
            <p class="text-info add-text">{{ad.text}}</p>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Category:</td>
                        <td>{{ad.categoryName}}</td>
                    </tr>
                    <tr>
                        <td>Town:</td>
                        <td>{{ad.townName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <label for="status" class="col-lg-10 control-label">Status</label>
            <div id="status">{{ad.status}}</div>
            <br />
            <button type="submit" class="btn btn-primary" ng-click="register(user, registrationForm)">Edit</button>
            <button type="submit" class="btn btn-primary" ng-click="register(user, registrationForm)">Publish Again</button>
            <button type="submit" class="btn btn-primary" ng-click="register(user, registrationForm)">Delete</button>
        </div>
    </div>
</div>
</div>