<div class="row" ng-controller="UserDataController">

    <div class="col-md-12">
        <form class="form-horizontal" name="editProfileForm">
            <fieldset class="col-lg-6">
                <legend>Edit Profile</legend>

                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" ng-required="true" class="form-control form-validation" id="inputName" placeholder="Name" ng-model="userProfile.name">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="email" ng-required="true" class="form-control form-validation" id="inputEmail" placeholder="Email" ng-model="userProfile.email">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
                    <div class="col-lg-10">
                        <input type="tel" class="form-control" id="inputPhone" placeholder="Phone" ng-model="userProfile.phoneNumber">
                    </div>
                </div>

                <div class="form-group">
                    <label for="town" class="col-lg-2 control-label">Town</label>
                    <div class="col-lg-10" ng-controller="FilterController">
                        <select class="form-control" id="towns" ng-model="userProfile.townId" ng-options="town.id as town.name for town in allTownsData">
                            <option value="">-- choose town --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-controller="UsersController">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a class="btn btn-success" href="#/user/home">Cancel</a>
                        <button type="submit" class="btn btn-danger" ng-click="updateUserProfile(userProfile, editProfileForm)">Update</button>
                    </div>
                </div>
            </fieldset>
        </form>

        <form class="form-horizontal" name="editPasswordForm">
            <fieldset class="col-lg-6">
                <legend>Edit Password</legend>

                <div class="form-group">
                    <label for="inputOldPassword" class="col-lg-2 control-label">Old password</label>
                    <div class="col-lg-10">
                        <input type="password" ng-required="true" class="form-control form-validation" id="inputOldPassword" placeholder="Old password" ng-model="updatePassword.oldPassword">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputNewPassword" class="col-lg-2 control-label">New password</label>
                    <div class="col-lg-10">
                        <input type="password" ng-required="true" class="form-control form-validation" id="inputNewPassword" placeholder="New password" ng-model="updatePassword.newPassword">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputConfirmNewPassword" class="col-lg-2 control-label">Confirm new password</label>
                    <div class="col-lg-10">
                        <input type="password" ng-required="true" class="form-control form-validation" id="inputConfirmNewPassword" placeholder="Confirm new password" ng-model="updatePassword.confirmPassword">
                    </div>
                </div>

                <div class="form-group" ng-controller="UsersController">
                    <div class="col-lg-10 col-lg-offset-2">
                        <a class="btn btn-success" href="#/user/home">Cancel</a>
                        <button type="submit" class="btn btn-danger" ng-click="updateUserPassword(updatePassword, editPasswordForm)">Change Password</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>